.goBackBtn,
.goBackBtn:hover {
    margin: 15px;
    background-color: rgb(185, 114, 47);
    border: none;
}

.editBtn,
.editBtn:hover {
    float: right;
    background-color: teal;
}

.favBtn, 
.favBtn:hover,
.favBtn:focus {
    float: right;
    background-color: rgb(169, 81, 228);
}

.removeFavBtn {
    float: right;
}

.tag-selection__menu, .tag-selection__menu * {
    background: white;
    z-index: 9000;
}